extends layout

block scripts
	script(src="/public/js/cwfm.filters.js")
	script(src="/public/js/cwfm.data.js")
	script(src="/public/js/cwfm.roomlist.js")
	script(src="/public/js/cwfm.user.js")
	script(src="/public/js/cwfm.home.app.js")

block main
	div#cwfmUserCtrl(ng-controller="cwfmUserCtrl")
		h2(ng-show="user.auth") Welcome back {{user.username}}!
		include includes/user

	div#cwfmRoomlistCtrl(ng-controller="cwfmRoomlistCtrl")
		div(ng-show="user.auth")
			h2 Make a room
			form(role="form")
				div.form-group
					input.form-control(ng-model="new_room.name", placeholder="Name")
				div.form-group
					input.form-control(ng-model="new_room.abbr", placeholder="Abbreviation")
				div.form-group
					textarea.form-control(ng-model="new_room.description", placeholder="Description")
				button.btn.btn-default(ng-click="make_room()") Create a room
					span.glyphicon.glyphicon-plus-sign

			h2 Join a room
			ul.list-group
				li.list-group-item(ng-repeat="room in rooms")
					a(href="/room/?{{room.abbr}}") {{room.name}}
					a.badge(href="#delete", ng-click="delete_room(room)")
						span.glyphicon.glyphicon-trash
