doctype html
html.no-js(ng-app="cwfmApp")
	head
		title= title
		meta(http-equiv='Content-type', content='text/html; charset=utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0', name='viewport')
		link(rel='shortcut icon', href='/public/img/favicon.ico')
		link(rel="apple-touch-icon-precomposed", href="/public/img/apple-touch-icon-iphone.png")
		link(rel="apple-touch-icon-precomposed", sizes="72x72", href="/public/img/apple-touch-icon-ipad.png")
		link(rel="apple-touch-icon-precomposed", sizes="114x114", href="/public/img/apple-touch-icon-iphone4.png")

		link(rel='stylesheet', href='/public/css/normalize.css')
		link(rel='stylesheet', href='/public/css/main.css')

		script(src="/public/bowery/jquery/src/jquery.js")
		script(src="/public/bowery/json2/json2.js")
		script(src="/public/bowery/angular/angular.min.js")
		script(src="/socket.io/socket.io.js")

		block scripts
	body
		block content
