extends layout

block scripts
	link(rel="stylesheet", href="/public/bowery/intro.js/minified/introjs.min.css")
	script(src="/public/bowery/intro.js/minified/intro.min.js")

	script(src="/public/bowery/wavesurfer.js/build/wavesurfer.min.js")
	script(src="/public/bowery/lvlDragDrop/script/lvl-uuid.js")
	script(src="/public/bowery/lvlDragDrop/script/lvl-drag-drop.js")

	script(src="/public/js/cwfm.filters.js")
	script(src="/public/js/cwfm.song.js")
	script(src="/public/js/cwfm.util.js")
	script(src="/public/js/cwfm.data.js")
	script(src="/public/js/cwfm.socket.js")
	script(src="/public/js/cwfm.room.js")
	script(src="/public/js/cwfm.user.js")
	script(src="/public/js/cwfm.player.js")
	script(src="/public/js/cwfm.playlist.js")
	script(src="/public/js/cwfm.chatter.js")
	script(src="/public/js/cwfm.room.app.js")
	script(src="/public/js/cwfm.room.ui.js")

block right-col
	section.col.right-col.queue#cwfmPlaylistCtrl.playlist_wrap(ng-controller="cwfmPlaylistCtrl", data-step="6", data-intro="Here's where you manage your own playlists", data-position="left")
		include includes/room/queue.jade

block main-col 
	#cwfmRoomCtrl(ng-controller="cwfmRoomCtrl")
		include includes/room/control.jade

			//#cwfmUserCtrl(ng-controller="cwfmUserCtrl")
			//	include includes/user

		#header(ng-show="me.auth")
			h1 #{name}
			p #{description}

		.col.chatroom-container
			include includes/room/chatter.jade
			include includes/room/player.jade
			include includes/room/playlist_old.jade