extends layout

block scripts
	script(src="/public/bowery/jplayer/jquery.jplayer/jquery.jplayer.js")
	script(src="/public/js/cwfm.filters.js")
	script(src="/public/js/cwfm.util.js")
	script(src="/public/js/cwfm.data.js")
	script(src="/public/js/cwfm.socket.js")
	script(src="/public/js/cwfm.room.js")
	script(src="/public/js/cwfm.user.js")
	script(src="/public/js/cwfm.player.js")
	script(src="/public/js/cwfm.playlist.js")
	script(src="/public/js/cwfm.chatter.js")
	script(src="/public/js/cwfm.room.app.js")

block left 
	div#jplayer.jp-jplayer

	div#cwfmRoomCtrl(ng-controller="cwfmRoomCtrl")
		div(ng-show="room.abbr")
			a#brandname.brand(data-toggle="modal", role="button", href="#aboutModal"): img(src="/public/img/cwfm.svg", alt="CWFM")
			h1 Welcome to {{room.name}}
			p {{room.description}}

			h2(ng-show="room.djs.length") DJs
			ul
				li(ng-repeat="dj in room.djs").
					{{dj.username}}

			h2(ng-show="room.listeners.length") Listeners
			ul
				li(ng-repeat="listener in room.listeners").
					{{listener.username}}

block main 
	div#cwfmUserCtrl(ng-controller="cwfmUserCtrl")
		include includes/user


	div#cwfmChatterCtrl(ng-controller="cwfmChatterCtrl")
		div(ng-show="room.abbr")
			ul.list-group
				li.list-group-item(ng-repeat="m in chat | filter:content")
					span.message {{m.content}}
					br
					strong.username {{m.author.username}}
					br
					em {{m.posted}}
			form.form-inline
				div.input-group
					input.form-control(ng-model="message", placeholder="Say something...")
					span.input-group-btn
						a.btn.btn-default(href="#send", ng-click="send()") 
							span.glyphicon.glyphicon-comment


	div#cwfmPlayerCtrl(ng-controller="cwfmPlayerCtrl")
		div(ng-show="room.abbr")

			div.progress(ng-show="room.song")
				div.progress-bar(role="progressbar", style="width: {{percent}}%")

			dl(ng-show="room.song")
				strong.song-dj {{room.dj.username}} 
				span is spinning 
				strong.song-title {{room.song.title}} 
				span ({{remaining | time}}) 
				span by 
				strong.song-artist(ng-repeat="artist in room.song.artist") {{artist}} 

				a.btn.btn-default(ng-click="toggleMuting()", ng-class="{active: !muted}")
					span.glyphicon.glyphicon-volume-up(ng-show="muted")
					span.glyphicon.glyphicon-volume-off(ng-hide="muted")

			h2 Actions
			ul
				li(ng-show="room.song")
					a(ng-click="upvote()", href="#upvote") Upvote
				li(ng-show="room.song")
					a(ng-click="downvote()", href="#downvote") Downvote
				li(ng-hide="djing()")
					a(ng-click="dj()", href="#dj") Start DJing
				li(ng-show="djing()")
					a(ng-click="undj()", href="#undj") Stop DJing
				li
					a(ng-click="skipSong()", href="#skip") Skip Song


block right
	div#cwfmPlaylistCtrl.playlist_wrapp(ng-controller="cwfmPlaylistCtrl")
		div(ng-show="message.error") {{message.error}}
		div(ng-show="message.info") {{message.info}}

		ul.nav.nav-tabs(ng-show="me.auth")
			li(ng-show="me.playlist.name")
				a(href="#queue", data-toggle="tab") Queue
			li.active
				a(href="#library", data-toggle="tab") Library

		div.tab-content(ng-show="me.auth")
			div.tab-pane.panel.panel-default#queue(ng-show="me.playlist.name")
				div.panel-heading {{me.playlist.name}}
				div.queue_wrap.panel-body
					div.queue
						div.add_song_wrap
							div.input-group
								input#add_song.form-control(ng-model="query", ng-keyup="search()", placeholder="Add a Song")
								span.input-group-btn(ng-hide="query.length")
									button.btn.btn-default(ng-click="search()")
										span.glyphicon.glyphicon-zoom-in
								span.input-group-btn(ng-show="query.length")
									button.btn.btn-default(ng-click="clearSearch()")
										span.glyphicon.glyphicon-zoom-out

							ul#song_results_list.songs_list.list-group(ng-show="query.length")
								li.list-group-item.songs_item(ng-repeat="song in result.songs", ng-class-odd="'odd'", ng-class-even="'even'", ng-class="{'last':$last}")
									a(ng-click="add(song)", href="#add") {{songName(song)}}

						div#myqueue_wrap
							ul#my_queue.songs_list.list-group
								li.songs_item.list-group-item(ng-repeat="song in me.playlist.songs", ng-class-odd="'odd'", ng-class-even="'even'", ng-class="{'last':$last}") 
									span {{songName(song)}}
									a.remove(ng-click="removesong(song)", href="#remove") 
										span.glyphicon.glyphicon-trash

			div.tab-pane.active.panel.panel-default#library
				div.panel-heading Playlists
				div.library_wrap.panel-body
					ul.playlists.list-group
						li.new_playlist.list-group-item
							form.form-inline
								div.input-group
									label.sr-only(for="playlist-name") Name 
									input#playlist-name.form-control(ng-model="new_playlist.name", placeholder="Create a new playlist...")
									span.input-group-btn
										button.btn.btn-default(ng-click="create()", href="#create") 
											span.glyphicon.glyphicon-plus-sign
						li.list-group-item(ng-repeat="playlist in playlists", ng-class="{active: active(playlist)}")
							span.badge.pull-right {{playlist.songs.length}}
							a.playlists_item(ng-click="select(playlist)", href="#load", ng-class-odd="'odd'", ng-class-even="'even'", ng-class="{last:$last}").
								{{playlist.name}}
