extends layout

block scripts
	script(src="/public/js/jquery.jplayer.min.js")
	script(src="/public/js/cwfm.filters.js")
	script(src="/public/js/cwfm.data.js")
	script(src="/public/js/cwfm.socket.js")
	script(src="/public/js/cwfm.room.js")
	script(src="/public/js/cwfm.user.js")
	script(src="/public/js/cwfm.player.js")
	script(src="/public/js/cwfm.playlist.js")
	script(src="/public/js/cwfm.chatter.js")
	script(src="/public/js/cwfm.room.app.js")

block content
	div#jplayer.jp-jplayer

	div#cwfmUserCtrl(ng-controller="cwfmUserCtrl")
		div(ng-show="user.auth")
			button(ng-click="logout()") Log out

		div(ng-hide="user.auth")
			h3 Log in
			ul
				li
					input(ng-model="user.username", placeholder="Username")
				li 
					input(ng-model="user.password", type="password", placeholder="Password")
				li
					button(ng-click="login()") Log in

	div#cwfmRoomCtrl(ng-controller="cwfmRoomCtrl")
		h1 Welcome to {{room.name}}
		p {{room.description}}

		h2(ng-show="room.djs.length") DJs
		ul
			li(ng-repeat="dj in room.djs").
				{{dj.username}}

		h2(ng-show="room.listeners.length") Listeners
		ul
			li(ng-repeat="listener in room.listeners").
				{{listener.username}}


	div#cwfmPlayerCtrl(ng-controller="cwfmPlayerCtrl")
		div.player(ng-show="room.song")
			input#mute-button(type="checkbox", ng-model="muted", ng-click="toggleMuting()")
			label(for="mute-button") Mute?

		dl(ng-show="room.song")
			dt Now Playing
			dd {{room.song.title}}

			dt Time Remaining
			dd {{songRemaining() | time}}

			dt Played By
			dd {{room.dj.name}}

			dt Score
			dd {{room.song.score}}

		h2 Actions
		ul
			li(ng-show="room.song")
				a(ng-click="upvote()", href="#upvote") Upvote
			li(ng-show="room.song")
				a(ng-click="downvote()", href="#downvote") Downvote
			li(ng-hide="djing()")
				a(ng-click="dj()", href="#dj") Start DJing
			li(ng-show="djing()")
				a(ng-click="undj()", href="#undj") Stop DJing
			li(ng-show="me.admin || currentDj(me)")
				a(ng-click="skipSong()", href="#skip") Skip Song

	div#cwfmPlaylistCtrl.playlist_wrapp(ng-controller="cwfmPlaylistCtrl")
		div.playlist_select_wrap
			div.playlist_current_wrap
				a#playlist_current(href="#", ng-click="browselists()") {{selected.title || 'Select a Playlist...'}}
			ul#playlists_list(ng-hide="playlists.length")
				li
					a#new_playlist New Playlist
					form
						label Title: input(ng-model="selected.title")
						input#new-public(type="checkbox", ng-model="selected.public")
						label(for="new-public") Public?
						a(ng-show="selected.plid", ng-click="save()", href="#save") Save
						a(ng-hide="selected.plid", ng-click="save()", href="#create") Create
				li(ng-repeat="playlist in playlists | filter:playlistquery")
					a.playlists_item(ng-click="select(playlist)", href="#load", ng-class-odd="'odd'", ng-class-even="'even'", ng-class="{'last':$last}").
						{{playlist.title}}
		div.songlist_wrap(ng-show="selected")
			div.add_song_wrap
				label#add_song_label(for="add_song") Add a Song
				input#add_song(ng-model="query", placeholder="Add a Song")
				a(href="#cancel-search", ng-show="query", ng-click="closesongsearch()") (X)

		ul#song_results_list.songs_list(ng-show="results.length")
			li.songs_item(ng-repeat="song in results", ng-class-odd="'odd'",  ng-class-even="'even'", ng-class="{'last':$last}")
				a(ng-click="addsong(song)", href="#add") {{song.label}}

		div#myqueue_wrap(ng-show="songs")
			ul#my_queue.songs_list
				li.songs_item(ng-repeat="song in songs", ng-class-odd="'odd'", ng-class-even="'even'", ng-class="{'last':$last}").
					{{song.label}}
					a.remove(ng-click="removesong(song)", href="#remove") [x]

	div#cwfmChatterCtrl(ng-controller="cwfmChatterCtrl")
		a#brandname.brand(data-toggle="modal", role="button", href="#aboutModal"): img(src="/public/img/cwfm.svg", alt="CWFM")
		ul
			li(ng-repeat="m in chat")
				strong.username {{m.user.username}}:
				span.message {{m.message}}
				br
				em {{m.posted}}
		p: input(ng-model="message")
		p: a(href="#send", ng-click="send()") Send
