/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* =============================================================================
   Webfonts
   ========================================================================== */

@font-face {
	font-family: 'BrandonGrotesqueBlack';
	src: url('/public/fonts/brandongrotesque_black_macroman/Brandon_blk-webfont.eot');
	src: url('/public/fonts/brandongrotesque_black_macroman/Brandon_blk-webfont.eot?#iefix') format('embedded-opentype'),
	url('/public/fonts/brandongrotesque_black_macroman/Brandon_blk-webfont.woff') format('woff'),
	url('/public/fonts/brandongrotesque_black_macroman/Brandon_blk-webfont.ttf') format('truetype'),
	url('/public/fonts/brandongrotesque_black_macroman/Brandon_blk-webfont.svg#BrandonGrotesqueBlack') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BrandonGrotesqueBold';
	src: url('/public/fonts/brandongrotesque_bold_macroman/Brandon_bld-webfont.eot');
	src: url('/public/fonts/brandongrotesque_bold_macroman/Brandon_bld-webfont.eot?#iefix') format('embedded-opentype'),
	url('/public/fonts/brandongrotesque_bold_macroman/Brandon_bld-webfont.woff') format('woff'),
	url('/public/fonts/brandongrotesque_bold_macroman/Brandon_bld-webfont.ttf') format('truetype'),
	url('/public/fonts/brandongrotesque_bold_macroman/Brandon_bld-webfont.svg#BrandonGrotesqueBold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BrandonGrotesqueMedium';
	src: url('/public/fonts/brandongrotesque_medium_macroman/Brandon_med-webfont.eot');
	src: url('/public/fonts/brandongrotesque_medium_macroman/Brandon_med-webfont.eot?#iefix') format('embedded-opentype'),
	url('/public/fonts/brandongrotesque_medium_macroman/Brandon_med-webfont.woff') format('woff'),
	url('/public/fonts/brandongrotesque_medium_macroman/Brandon_med-webfont.ttf') format('truetype'),
	url('/public/fonts/brandongrotesque_medium_macroman/Brandon_med-webfont.svg#BrandonGrotesqueMedium') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GoudyBookletter';
	src: url('/public/fonts/goudy_bookletter/goudy_bookletter_1911-webfont.eot');
	src: url('/public/fonts/goudy_bookletter/goudy_bookletter_1911-webfont.eot?#iefix') format('embedded-opentype'),
	url('/public/fonts/goudy_bookletter/goudy_bookletter_1911-webfont.woff') format('woff'),
	url('/public/fonts/goudy_bookletter/goudy_bookletter_1911-webfont.ttf') format('truetype'),
	url('/public/fonts/goudy_bookletter/goudy_bookletter_1911-webfont.svg#GoudyBookletter') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNovaCondSemiBold';
	src: url('/public/fonts/proximanovacondensed_semibold_macroman/ProximaNovaCond-Sbold-webfont.eot');
	src: url('/public/fonts/proximanovacondensed_semibold_macroman/ProximaNovaCond-Sbold-webfont.eot?#iefix') format('embedded-opentype'),
	url('/public/fonts/proximanovacondensed_semibold_macroman/ProximaNovaCond-Sbold-webfont.woff') format('woff'),
	url('/public/fonts/proximanovacondensed_semibold_macroman/ProximaNovaCond-Sbold-webfont.ttf') format('truetype'),
	url('/public/fonts/proximanovacondensed_semibold_macroman/ProximaNovaCond-Sbold-webfont.svg#ProximaNovaCondSemiBold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNovaCondRegular';
	src: url('/public/fonts/proximanovacondensed_regular_macroman/ProximaNovaCond-Reg-webfont.eot');
	src: url('/public/fonts/proximanovacondensed_regular_macroman/ProximaNovaCond-Reg-webfont.eot?#iefix') format('embedded-opentype'),
	url('/public/fonts/proximanovacondensed_regular_macroman/ProximaNovaCond-Reg-webfont.woff') format('woff'),
	url('/public/fonts/proximanovacondensed_regular_macroman/ProximaNovaCond-Reg-webfont.ttf') format('truetype'),
	url('/public/fonts/proximanovacondensed_regular_macroman/ProximaNovaCond-Reg-webfont.svg#ProximaNovaCondRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
html, body {
	font-family: "ProximaNovaCondRegular", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	background: #ddd;/* 100% width footer bg color */
	min-width: 320px;
}
/*
#cwfmRoomCtrl {
	position: absolute;
	top:0;
	bottom:0;
	left:300px;
	right:300px;
    margin: 40px;
	padding: 1em;
}
#cwfmPlaylistCtrl {
	position: absolute;
	right: 0;
	width: 300px;
	height: 100%;

	background: #EEEEEE;
	overflow: hidden;
	-webkit-box-shadow: 13px 0px 27px 21px rgba(0,0,0,0.2);
	-moz-box-shadow: 13px 0px 27px 21px rgba(0,0,0,0.2);
	box-shadow: 13px 0px 27px 21px rgba(0,0,0,0.2);
}

#cwfmChatterCtrl {
	position: absolute;
    left: 0;
	height: 100%;
    width: 300px;
    padding: 1em;

	background: #EEEEEE;
	overflow: hidden;
	-webkit-box-shadow: 13px 0px 27px 21px rgba(0,0,0,0.2);
	-moz-box-shadow: 13px 0px 27px 21px rgba(0,0,0,0.2);
	box-shadow: 13px 0px 27px 21px rgba(0,0,0,0.2);
}

#cwfmChatterCtrl textarea {
    width: 100%;
    height: 5em;
}
*/
#avatar-list {
	height: 300px;
	overflow: auto;
}
h1 {
	font-family: "BrandonGrotesqueBlack",sans-serif;
	text-transform: uppercase;
	font-size: 2em;
}

/* Playlist dropdown */
.playlist_select_wrap {
	background: #bfb8b5;
	/* position: absolute; */
	z-index: 75;
	width: 100%;
	/* top: 0; */
}
#playlist_current {
	padding: 0.3em 0.5em;
	display: block;
	text-decoration: none;
	color:  #fff;
	font-weight: bold;
}

/* PLAYLISTS List */
#playlists_list {
	padding: 0;
	list-style-type: none;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	margin: 0;
	max-height: 300px;
	overflow-y: scroll;
}
.playlists_item {
	padding:  0.3em 0.5em;
	text-decoration: none;
}
.playlists_item.even {
	background: #E6E6E6;
}
.playlists_item.odd {
	background: #e0e0e0;
}
.playlists_item:hover, .playlists_item.even:hover, .playlists_item.odd:hover {
	background: #ede38a;
}
.playlists_item.last {
	border-bottom: 0;
}

/* Add to songs */
.songlist_wrap {
	background: #e7e8c3;
	width: 100%;
	max-height: 600px;
	overflow-y: scroll;
	overflow-x: hidden;
}
.add_song_wrap {
	padding:  0.3em 0.5em;
}
.songs_list {
	overflow-y: scroll;
	padding: 0;
	list-style-type: none;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	height: 90%;
	margin: 0;
}
.songs_item {
	display: block;
	border-bottom: 1px solid #C5C5C5;
}
.songs_item > a {
	display: block;
	padding: 0.3em 0.5em;
	text-decoration: none;
	color: #333;
}
#my_queue > .songs_item {
	padding: 0.3em 0.5em;
}
.songs_item.even {
	background: #E6E6E6;
}
.songs_item.odd {
	background: #e1e1e1;
}
.songs_item:hover, .songs_item:active,
.songs_item.even:hover, .songs_item.odd:active {
	background: #ede38a;
}
.songs_item.last {
	border-bottom: 0;
}
#add_song_label {
	display: none;
}
#song_results_list {
    overflow: hidden;
    margin: 0;
}
#myqueue_wrap {
	width: 100%;
	height: 100%;
}
.remove {
	float:right;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
