<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" ng-app="cwfmRoomApp"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" ng-app="cwfmRoomApp"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" ng-app="cwfmRoomApp"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="cwfmMainApp"> <!--<![endif]-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="shortcut icon" href="/public/img/favicon.ico" /><!-- 16x16 -->
<link rel="apple-touch-icon-precomposed" href="/public/img/apple-touch-icon-iphone.png" /><!-- 57x57 -->
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/public/img/apple-touch-icon-ipad.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/public/img/apple-touch-icon-iphone4.png" />
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
<title>Clockwork.FM</title>

<link href="/public/jplayer-theme/jplayer.css?nocache" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/public/css/normalize.css">
<link rel="stylesheet" href="/public/css/main.css">
<script type="text/javascript" src="/public/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/public/js/json2.min.js"></script>
<script type="text/javascript" src="/public/js/jquery.jplayer.min.js"></script>
<script type="text/javascript" src="/public/js/jplayer.playlist.js"></script>
<script type="text/javascript" src="/public/js/jquery.jplayer.inspector.js"></script>

<script src="/public/js/angular.min.js"></script>
<script src="/public/js/cwfm.filters.js"></script>
<script src="/public/js/cwfm.roomlist.js"></script>
</head>
<body>
    <div id="jplayer" class="jp-jplayer"></div>
	<div id="cwfmRoomlistCtrl" ng-controller="cwfmRoomlistCtrl">
		<ul>
			<li><label>Username <input ng-model="user.username" /></label></li>
			<li><label>Password  <input ng-model="user.password" /></label></li>
			<li><button ng-click="login()">Log in</button></li>
		</ul>

		<ul>
			<li><label>Username <input ng-model="new_user.username" /></label></li>
			<li><label>Password  <input ng-model="new_user.password1" type="password" /></label></li>
			<li><label>Password  <input ng-model="new_user.password2" type="password" /></label></li>
			<li><button ng-click="create_user()">Create an Account</button></li>
		</ul>

		<ul>
			<li><label>Name <input ng-model="new_room.name" /></label></li>
			<li><label>Abbreviation <input ng-model="new_room.abbr" /></label></li>
			<li><label>Description <textarea ng-model="new_room.description"></textarea></label></li>
			<li><button ng-click="make_room()">Create a room</button></li>
		</ul>
        <h1>Join a room</h1>
        <ul>
            <li ng-repeat="room in rooms"><a href="/room/?{{room.abbr}}">{{room.name}}</a></li>
        </ul>
    </div>
</body>
</html>
