<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" ng-app="cwfmRoomApp"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" ng-app="cwfmRoomApp"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" ng-app="cwfmRoomApp"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="cwfmRoomApp"> <!--<![endif]-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="shortcut icon" href="/public/img/favicon.ico" /><!-- 16x16 -->
<link rel="apple-touch-icon-precomposed" href="/public/img/apple-touch-icon-iphone.png" /><!-- 57x57 -->
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/public/img/apple-touch-icon-ipad.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/public/img/apple-touch-icon-iphone4.png" />
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
<title>Clockwork.FM</title>

<link href="/public/jplayer-theme/jplayer.css?nocache" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/public/css/normalize.css">
<link rel="stylesheet" href="/public/css/main.css">
<script type="text/javascript" src="/public/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/public/js/json2.min.js"></script>
<script type="text/javascript" src="/public/js/jquery.jplayer.min.js"></script>
<script type="text/javascript" src="/public/js/jplayer.playlist.js"></script>
<script type="text/javascript" src="/public/js/jquery.jplayer.inspector.js"></script>

<script src="/public/js/angular.min.js"></script>
<script src="/public/js/cwfm.filters.js"></script>
<script src="/public/js/cwfm.room.js"></script>
<script src="/public/js/cwfm.playlist.js"></script>
<script src="/public/js/cwfm.chatter.js"></script>
<script src="/public/js/cwfm.app.js"></script>
</head>
<body>
    <div id="jplayer" class="jp-jplayer"></div>
    <div id="cwfmRoomCtrl" ng-controller="cwfmRoomCtrl">
        <h1>Welcome to {{room.name}}</h1>
        <p>{{room.message}}</p>

        <label><input type="checkbox" ng-model="muted" ng-click="toggle_muting()" /> Mute</label>

        <dl ng-if="room.song.length">
            <dt>Now Playing<dt>
            <dd>{{song_title()}}</dd>

            <dt>Time Remaining</dt>
            <dd>{{song_remaining() | time}}</dd>

            <dt>Played By</dt>
            <dd>{{room.dj.name}}</dd>

            <dt>Score</dt>
            <dd>{{room.song.score}}</dd>
        </dl>

        <h2>DJs</h2>
        <ul>
            <li ng-repeat="member in room.members | filter:is_dj:member">
                {{is_dj(member) | checkmark}}{{member.name}} ({{member.points}})
            </li>
        </ul>

        <h2>Room members</h2>
        <ul>
            <li ng-repeat="member in room.members | filter:not(is_dj):member">
                {{is_dj(member) | checkmark}}{{member.name}} ({{member.points}})
            </li>
        </ul>

        <h2>Actions</h2>
        <ul>
            <li ng-show="room.song.length"><a ng-click="api('upvote')" href="#upvote">Upvote</a></li>
            <li ng-show="room.song.length"><a ng-click="api('downvote')" href="#downvote">Downvote</a></li>
            <li ng-hide="me.dj"><a ng-click="api('dj')" href="#dj">Start DJing</a></li>
            <li ng-show="me.dj"><a ng-click="api('undj')" href="#undj">Stop DJing</a></li>
            <li ng-show="me.isadmin || is_current_dj(me)"><a ng-click="api('skipsong')" href="#skip">Skip Song</a></li>
            <li><a ng-click="api('leave')" href="#leave">Leave Room</a></li>
        </ul>
    </div>

    <div id="cwfmPlaylistCtrl" ng-controller="cwfmPlaylistCtrl" class="playlist_wrap">
        <div class="playlist_select_wrap">
	        <div class="playlist_current_wrap"><a href="#" ng-click="browselists()" id="playlist_current">{{selected.title || 'Select a Playlist...'}}</a></div>
            <ul ng-hide="playlists.length" id="playlists_list">
	            <li><a id="new_playlist">New Playlist</a><form>
		            <label>Title: <input type="text" ng-model="selected.title" /></label>
		            <label><input type="checkbox" ng-model="selected.public" /> Public?</label>
		            <a ng-show="selected.plid" ng-click="save()" href="#save">Save</a>
		            <a ng-hide="selected.plid" ng-click="save()" href="#create">Create</a>
	            </form></li>
                <li ng-repeat="playlist in playlists | filter:playlistquery">
                    <a ng-click="select(playlist)" href="#load" class="playlists_item" ng-class-odd="'odd'" ng-class-even="'even'" ng-class="{'last':$last}">{{playlist.title}}</a>
                </li>
            </ul>
	        <!--<label>-->
		        <!--Find a playlist:-->
		        <!--<input type="text" ng-hide="playlists.length < 10" ng-model="playlistquery" />-->
	        <!--</label>-->
        </div>
	    <div ng-show="selected" class="songlist_wrap">
		    <div class="add_song_wrap">
			    <label for="add_song" id="add_song_label">Add a Song</label><input type="text" id="add_song" ng-model="query" placeholder="Add a Song" /><a href="#" ng-show="query" ng-click="closesongsearch()">(X)</a>
		    </div>

		    <ul ng-show="results.length" id="song_results_list" class="songs_list">
			    <li ng-repeat="song in results" class="songs_item" ng-class-odd="'odd'" ng-class-even="'even'" ng-class="{'last':$last}">
				    <a ng-click="addsong(song)" href="#add">{{song.label}}</a>
			    </li>
		    </ul>
	    </div>
        <div ng-show="songs" id="myqueue_wrap">
            <ul id="my_queue" class="songs_list">
                <li ng-repeat="song in songs"  class="songs_item" ng-class-odd="'odd'" ng-class-even="'even'" ng-class="{'last':$last}">{{song.label}}<a ng-click="removesong(song)" href="#remove" class="remove">[x]</a></li>
            </ul>
        </div>
    </div>

    <div id="cwfmChatterCtrl" ng-controller="cwfmChatterCtrl">
        <a id="brandname" data-toggle="modal" role="button" href="#aboutModal" class="brand"><img src="/public/img/cwfm.svg" alt="CWFM" /></a>
        <p><input ng-model="message" value="$scope.message" /></p>
        <p><a href="#send" ng-click="send()">Send</a></p>
        <ul>
            <li ng-repeat="m in sorted()">
                <strong>{{m.username}}</strong>: {{m.message}}
                <br /><em>{{m.time}}</em>
            </li>
        </ul>
    </div>
</body>
</html>
