div(ng-show="message.error") {{message.error}}
div(ng-show="message.info") {{message.info}}
div.queue-tabs.group(ng-show="me.auth")
	button.queue-button#queue-button(ng-show="me.playlist.name", ng-class="{active: me.playlist.name}", href="#queue", data-toggle="tab") Queue
	button.library-button#library-button(ng-class="{active: ! me.playlist.name}", href="#library", data-toggle="tab") Library
div.song-list-pane.group
	div.song-search
		form
			input#add_song.form-control.song-search-input(type="search", name="q", placeholder="Looking for something?", ng-model="query", ng-keyup="search()")
			button.btn.btn-default(ng-click="search()", ng-hide="query.length")
			button.btn.btn-default(ng-click="clearSearch()", ng-show="query.length")
	div.tab-content(ng-show="me.auth")
		div.queue-list.song-list#queue(ng-show="me.playlist.name", ng-class="{active: me.playlist.name.length}")
		div.panel-heading {{me.playlist.name}}
		div.queue_wrap.panel-body
			div.queue
				div.add_song_wrap
					.btn-group.btn-group-justified
						.btn-group
							button.btn.btn-default.btn-sm(ng-class="{active: searchFilter==''}", ng-click="setFilter('')") All
						.btn-group
							button.btn.btn-default.btn-sm(ng-class="{active: searchFilter=='artist'}", ng-click="setFilter('artist')") Artist
						.btn-group
							button.btn.btn-default.btn-sm(ng-class="{active: searchFilter=='album'}", ng-click="setFilter('album')") Album
						.btn-group
							button.btn.btn-default.btn-sm(ng-class="{active: searchFilter=='song'}", ng-click="setFilter('song')") Song

					ul#song_results_list.list-group(ng-show="query.length")
						li.list-group-item(ng-show="!result.songs.length && query.length")
							em No results found
						li.list-group-item(ng-repeat="song in result.songs", ng-class-odd="'odd'", ng-class-even="'even'", ng-class="{'last':$last}")
							a(ng-click="addSong(song)", href="#add") {{songName(song)}}
							br
							strong {{song.album}}
							br
							em {{song.artist}}

				#myqueue_wrap
					ul#my_queue.songs_list.list-group
						li.songs_item.list-group-item(ng-repeat="song in me.playlist.songs", ng-class-odd="'odd'", ng-class-even="'even'", x-lvl-drop-target="true", x-on-drop="songDropped(dragEl, dropEl)", data-index="{{$index}}") 
							div.song_wrapper(x-lvl-draggable="true", data-song="{{song}}")
								span {{songName(song)}}
								a.remove(ng-click="removeSong(song)", href="#remove") 
									span.glyphicon.glyphicon-trash